<div class = "row">
  <div class = "col-lg-10">
        <div class="jumbotron mx-auto">
      <div class="container">
        <h1 class="display-4">Eat-Da-Burger</h1>
        <p class="lead">Add a burger to eat now or later!</p>
      </div>
    </div>
  </div>
</div>


<div class = "row">
  <div class = "col-lg-3 mx-auto">
    <div class = "pic"> </div>
    <img src="/assets/css/img/burger.jpg"  class="card-img" alt="Burger">
  </div>
</div>

<div class = "row">
  <div class = "col-lg-6">
    <form class="create-form">
      <div class="form-group mx-auto">
        <label class = "card-header" for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>
      <button id = "submitBtn" type="submit">Add Burger</button>
    </form>

  </div>
</div>
<br/>

<span class= "cardSpan">
<div class = "card-deck">
<div class = "row">
  <div class = "col">
    <div class="card card1" style="width: 18rem;">
      <div class="card-header">Burgers</div>
      <ul class="list-group list-group-flush">
          {{#each burgers}}
          {{#unless devouredy}}
            {{> burgers/burger-block devouredy=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  </span>

<span class= "cardSpan"> 
<div class = "col">
  <div class="card card2" style="width: 18rem;">
    <div class="card-header">Devoured Burgers</div>
    <ul class="list-group list-group-flush">
        {{#each burgers}}
          {{#if devouredy}}
            {{> burgers/burger-block devouredy=false}}
          {{/if}}
        {{/each}}
      </ul>
  </div>
</div>
</span> 
</div>
</div>

<div class = "navbar">
    <nav class="navbar fixed-bottom">
    <a class="navbar-brand" href="#"></a>
  </nav>
</div>
